node_modules/
dist/
.env
.env.local
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
coverage/**/*
**/dist/
.idea/
.vite

# Local test files
*.local

# OS files
Thumbs.db
desktop.ini

# Logs
logs
*.log
